*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

/* NAVBAR */
.main{
    background:black;
    color:white;
    display:flex;
    justify-content:space-between;
    padding:15px 40px;
    position:fixed;
    width:100%;
    top:0;
}

.child1{
    display:flex;
    gap:30px;
}

.child2 input{
    padding:5px;
}

/* HERO */
.hero-img{
    width:100%;
    height:700px;
    margin-top:60px;
}

/* BAND */
.main2{
    width:700px;
    margin:60px auto;
    text-align:justify;
}

/* MEMBERS */
.main3{
    width:700px;
    margin:auto;
    display:flex;
    justify-content:space-between;
}

.chil{
    text-align:center;
}

.chil img{
    width:200px;
    height:200px;
}

/* TOUR */
.main4{
    background:black;
    color:white;
    padding:60px 0;
    margin-top:60px;
}

.child6{
    width:900px;
    background:white;
    color:black;
    margin:30px auto;
    padding:20px;
}

em{
    background:red;
    color:white;
    padding:3px 6px;
}

.child7{
    width:900px;
    margin:auto;
    display:flex;
    gap:20px;
}

.sub{
    background:white;
    color:black;
    padding:15px;
}

.sub img{
    width:100%;
    height:170px;
}

.sub h5{
    background:black;
    color:white;
    padding:10px;
    text-align:center;
}

/* CONTACT */
.contact{
    width:900px;
    margin:60px auto;
    display:flex;
    gap:40px;
}

.c{
    width:50%;
}

.c input{
    width:100%;
    padding:10px;
}

button{
    background:black;
    color:white;
    padding:10px 20px;
    border:none;
}
.main5{
width: 100%;
height: 300px;
display: flex;
background-color: white;
color: black;
text-align: center;
}
.c{
    width: 50%;
    height: 300px;
}
.c input{
    width:200px;
    padding:10px;
}
.c input.box{
    width: 400px;
    
}
.img{
    width: 100%;
}
