
.main{
   
    width: 1000px;
    height: 500px;
    position:relative;
}

.img{
    width: 100%;
}
h1{
    position:absolute;
    color: white;
    top: 75%;
    left: 60%;
}
b{
    background-color: black;
    padding: 20px;
}