body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.main{
    width: 300px;
    height: 300px;
    /* border: 2px solid; */
    display: flex;
    justify-content: space-around;
    align-items: center;
     animation: ma 2s infinite alternate;
    background-color: aliceblue;
}

.con{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid;
    animation: scaleUp 2s infinite alternate;
}
.c1{ background-color: deeppink; 
animation-delay: 0s;}
.c2{ background-color: aqua; 
animation-delay: 1s;}
.c3{ background-color: blue; 
animation-delay: 2s;}
.c4{ background-color: yellow;
animation-delay: 3s; }

@keyframes scaleUp {
    from{
        transform:  translate(0px); 
    }
    to{
      transform:  translatey(30px);

    }
}
/* @keyframes ma{
    from{
        transform:rotate(0deg) ;
    }
    to{
        transform: rotate(360deg);
    }
} */
