body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column; /* IMPORTANT */
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4b6cb7, #182848);
}

#container {
    margin-top: 20px;
}

/* Glass Card */
.card {
    padding: 30px;
    width: 300px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    text-align: center;
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/* Input & Button */
input, button {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

button {
    background: #00c6ff;
    color: white;
    cursor: pointer;
}